![Abdessamd Touzani](banner.png)

In [ ]:
import pandas as pd
import numpy as np


# set seed for reproducibility
np.random.seed(0)

print("Checked")

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
print('Checked...')

TODO: intorduction... || Add summary for easy access

**[Documentation for used Data](https://www.kaggle.com/datasets/saurograndi/airplane-crashes-since-1908)**

## **Import Data**

In [ ]:
df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908_t0_2023.csv', encoding='ISO-8859-1')
print('Data read successfully')

In [ ]:
df.head()

## **I) Data Cleaning:**

### 1) Handle missing values:

In [ ]:
print("Data shape: ", df.shape)
df.isnull().sum()

--> As we can see at first sight,for flight number almost all rows are null, so I will just remove that column.

In [ ]:
df.drop(['Flight #'], axis = 1, inplace = True)
df.head(5)

In [ ]:
df.shape

--> The column is dropped successfuly

Now, I will group data into 2 categories (From IBM Data Science course), continuous attributes that I will replace by the mean, and caategorical aattributes tht I will replace by the most frequence value
- Continuous attributes:
  - Aboard
  - Aboard Passangers
  - Aboard Crew
  - Fatalities
  - Fatalities Passaangers
  - Fatalities Crew
  - Ground
- Categorical attributes:
  - Location
  - Operator
  - Route
  - AC Type
  - Registration
  - cn/ln
  - Summary

- **There is no null values for Date**
- **For the time, at this stage I don't see any use of it in futur analysis, because crashes are not strongly relatable with a specific time of the day, even tho it still can, in seasons like Falls and Winter...**
--
- ***But still can use, depends on analysis progress:***
  - *Forward Fill (ffill()) or Backward Fill (bfill())*
  - *Linear Interpolation*

df.isnull().sum()

### *for continuous attributes:*

#Aboard -- set it as needed to explore how null values are represented
pd.set_option('display.max_rows', 4000)
df['Aboard'].head(4000)

In [ ]:
#Aboard
#Calculate mean of Aboard
aboard_mean = df['Aboard'].mean()
#Replace NaN with the mean - import numpy for it
df['Aboard'].replace(np.NaN, aboard_mean, inplace = True)
print("Aboard null values: ", df['Aboard'].isnull().sum())

--> we will do  the same for the other continuous variables. TODO...

In [ ]:
#Aboard Passangers
aboardPassangers_mean = df['Aboard Passangers'].mean()
df['Aboard Passangers'].replace(np.NaN, aboardPassangers_mean, inplace = True)
print("Aboard Passangers null values: ", df['Aboard Passangers'].isnull().sum())

In [ ]:
#Aboard Crew
aboardCrew_mean = df['Aboard Crew'].mean()
df['Aboard Crew'].replace(np.NaN, aboardCrew_mean, inplace = True)
print("Aboard Crew null values: ", df['Aboard Crew'].isnull().sum())

In [ ]:
#Fatalities
fatalities_mean = df['Fatalities'].mean()
df['Fatalities'].replace(np.NaN, fatalities_mean, inplace = True)
print("Fatalities null values: ", df['Fatalities'].isnull().sum())

In [ ]:
#Fatalities Passengers
fatalitiesPassangers_mean = df['Fatalities Passangers'].mean()
df['Fatalities Passangers'].replace(np.NaN, fatalitiesPassangers_mean, inplace = True)
print("Fatalities Passangers null values: ", df['Fatalities Passangers'].isnull().sum())

In [ ]:
#Fatalities Crew
fatalitiesCrew_mean = df['Fatalities Crew'].mean()
df['Fatalities Crew'].replace(np.NaN, fatalitiesCrew_mean, inplace = True)
print("Fatalities Passangers null values: ", df['Fatalities Crew'].isnull().sum())

In [ ]:
#Ground
ground_mean = df['Ground'].mean()
df['Ground'].replace(np.NaN, ground_mean, inplace = True)
print("Ground null values: ", df['Ground'].isnull().sum())

### *for categorical attributes:*

I will replace them with the most frequent value, using value_counts().idxmax or mode()[0].
In this project, I will use the mode.

- Categorical attributes:
  - Location
  - Operator
  - Route
  - AC Type
  - Registration
  - cn/ln
  - Summary

In [ ]:
#Location
#Calculate most frequent value
print("Location null values: ", df['Location'].isnull().sum())
location_maxFreq = df['Location'].mode()[0]
#Replace NaN with the mean - import numpy for it
df['Location'].fillna(value=location_maxFreq, inplace=True)
print("Location null values: ", df['Location'].isnull().sum())

In [ ]:
#Operator
print("Operator null values: ", df['Operator'].isnull().sum())
operator_maxFreq = df['Operator'].mode()[0]
df['Operator'].fillna(value=operator_maxFreq, inplace=True)
print("Operator null values: ", df['Operator'].isnull().sum())

In [ ]:
#Route
print("Route null values: ", df['Route'].isnull().sum())
route_maxFreq = df['Route'].mode()[0]
print(route_maxFreq)
df['Route'].fillna(value=route_maxFreq, inplace=True)
print("Route null values: ", df['Route'].isnull().sum())

In [ ]:
#AC Type
print("AC Type null values: ", df['AC Type'].isnull().sum())
ACType_maxFreq = df['AC Type'].mode()[0]
print("Frequent value: ",ACType_maxFreq)
df['AC Type'].fillna(value=ACType_maxFreq, inplace=True)
print("AC Type null values: ", df['AC Type'].isnull().sum())

In [ ]:
#Registration
print("Registration null values: ", df['Registration'].isnull().sum())
registration_maxFreq = df['Registration'].mode()[0]
print("Frequent value: ",registration_maxFreq)
df['Registration'].fillna(value=registration_maxFreq, inplace=True)
print("Registration null values: ", df['Registration'].isnull().sum())

In [ ]:
#cn/ln
print("cn/ln null values: ", df['cn/ln'].isnull().sum())
CnLn_maxFreq = df['cn/ln'].mode()[0]
print("Frequent value: ",CnLn_maxFreq)
df['cn/ln'].fillna(value=CnLn_maxFreq, inplace=True)
print("cn/ln null values: ", df['cn/ln'].isnull().sum())

In [ ]:
df['Summary'].isnull().sum()

In [ ]:
df['Summary'].mode()[0]

In [ ]:
#Summary
#From previous line, the most frequent value looks better than keeping the null data
print("Summary null values: ", df['Summary'].isnull().sum())
summary_maxFreq = df['Summary'].mode()[0]
print("Frequent value: ",CnLn_maxFreq)
df['Summary'].fillna(value=summary_maxFreq, inplace=True)
print("Summary null values: ", df['Summary'].isnull().sum())

**For the time, aat this stage I don't see any use of it in futur analysis, because crashes are not strogly relatable with a specific time of the day, even tho it still can, in seasons like Falls and Winter...**

### 2) Convert relevant columns to the appropriate data types:

In [ ]:
#Let's get the data types of each attribute
df.info()

Here, for Date and Time I have 2 options:
- Group the 2 columns into one column of data type: datetime.
- Keep them seperated, and convert each one by itself.
As there is some null values in the Time column, so I will go with the second choice.

df['Date'].dt.year
#if you run the line at this stage, you'll get an 'AttributeError: Can only use .dt accessor with datetimelike values'

In [ ]:
#Convert Date:
df['Date'] = pd.to_datetime(df['Date'])

#Now, if you run it here you will get the excpected result
df['Date'].dt.year
#Do the same with Time, example: use dt.hour before converting, you will get the same error
Here in converting at this satge Ithe real-time Date is added, so I will let this column as object dtypes at this stage

#Convert Time - AFTER...
# df['Time'] = pd.to_datetime(df['Time'], errors='coerce') #to deal with null values
# #df['Time'].dt.hour you get the expected output
#df['Time'] = pd.to_datetime(df['Time'], format='%H:%M', errors='coerce')
df['Time'] = pd.to_timedelta(df['Time'] + ':00')
#df['Time'] = pd.to_timedelta(df['Time'])

df.head(5)

In [ ]:
#Convert to String
df['Location'] = df['Location'].astype("string")
df['Operator'] = df['Operator'].astype("string")
df['Route'] = df['Route'].astype("string")
df['AC Type'] = df['AC Type'].astype("string")
df['Registration'] = df['Registration'].astype("string")
df['cn/ln'] = df['cn/ln'].astype("string") #In the documentation, cn/ln is a serial number, and they're alphanumeric
df['Summary'] = df['Summary'].astype("string")
#Convert to int64
df['Aboard'] = df['Aboard'].astype('int64')
df['Aboard Passangers'] = df['Aboard Passangers'].astype('int64')
df['Aboard Crew'] = df['Aboard Crew'].astype('int64')
df['Fatalities'] = df['Fatalities'].astype('int64')
df['Fatalities Passangers'] = df['Fatalities Passangers'].astype('int64')
df['Fatalities Crew'] = df['Fatalities Crew'].astype('int64')
df['Ground'] = df['Ground'].astype('int64')
print("Done...")

In [ ]:
df.info()

### 3) Check for and handle duplicate entries:

In [ ]:
df.duplicated().sum()

As we see, there is no duplicated values, so **Data Cleaning** is *done*

#Export cleaned data to use it in dash for Data Visualization
df.to_csv('AbdessamadTzn_flightCrashes_cleanedData.csv', index=False)

## Normalizing Data... (TODO)

## **II) Exploratory Data Analysis (EDA):**

### **1) Distribution of Flight Crashes Over Time:**

In [ ]:
df.head(2)

#Export cleaned data to use it in dash for Data Visualization
df.to_csv('AbdessamadTzn_FlightCrashes_cleanedData.csv', index=False)

In [ ]:
#Number of accidents per year
yearly_crash_counts = df.groupby(df['Date'].dt.year).count()
plt.figure(figsize=(12, 6))
plt.plot(yearly_crash_counts.index, yearly_crash_counts['Date'], marker='.', color='blue')
plt.title('Distribution of Flight Crashes Over the years')
plt.xlabel('Year')
plt.ylabel('Number of Crashes')
plt.grid(True)
plt.show()

There was a trend in crashes between 1940 and 2000, but in the 21st century we can see a marked decrease in flights crashes, thanks to technolgy.

In [ ]:
df.head(2)

### **2) Analyze factors such as location, airline, aircraft type, and time of the year:**

In [ ]:
df.head(2)

Let's produce an area plot showing top 5 regions where crashes happens, so we will look for most 5 frequent locations in the dataframe.

In [ ]:
#The most frequent one!
df['Location'].value_counts().idxmax()

In [ ]:
#MOst 5 common locaions
top_5_locations_df = df['Location'].value_counts().head(5).reset_index()
top_5_locations_df

In [ ]:
#top_5_locations_df.index = top_5_locations_df.index.map(int)
top_5_locations_df.plot(kind='area',
                        x='Location',
                        stacked=False,
                        figsize=(13, 5)
                       )
plt.title('Crashes Trend of most 5 common locations')
plt.xlabel('Locations')
plt.ylabel('Number of crashes')
plt.show()

In [ ]:
#same for AC Type
top5_AcType = df['AC Type'].value_counts().head(5).reset_index()
top5_AcType

Is there any relation between AC Type and the location/region?

sns.scatterplot(data=df, x="Location", y="AC ")

In [ ]:
#top_5_locations_df.index = top_5_locations_df.index.map(int)
top5_AcType.plot(kind='area',
                        x='AC Type',
    stacked=False,
    figsize=(13, 5)
)
plt.title('Most used AC Type in crashed airplanes')
plt.xlabel('AC Type')
plt.ylabel('Count')
plt.show()

### **3) Investigate correlations between different variables:**

In [ ]:
#Aboard and Fatalities
df['Aboard'].corr(df['Fatalities'])

#### So, as we see there is strong correlation between Aboard and Ftalities.  

#### Insted of invetigation 2 variables at one, better to use a heatmap to show all values of all variables then conclude.

In [ ]:
# Select numerical columns
df_num = df.select_dtypes(include=['number'])

# Remove Date/Time columns
df_num = df_num.drop(columns=['Date', 'Time'], errors='ignore')

# Calculate correlation
corr_tab = df_num.corr()


plt.figure(figsize=(10, 10))
sns.heatmap(corr_tab, annot=True, cmap='coolwarm', fmt=".2f")  
plt.title('Correlation Matrix')
plt.show()

#### **We can now plot reg plot to show the correlation (strong corr) is between:**  
    - Aboard & Aboard Passangers
    - Aboard & Fatalities 
    - Aboard & Fatalities Passangers
    - Aboard Passangers & Fatalities
    - Aboard Passangers & Fatalities Passangers
    - Aboard Crew & Fatalities Crew
    - Fatalities & Fataities Passangers
We can conclude that Ground (Total killed on the ground), reference - DataSet docs, has no correlation with the number of people on the airplane, so I might assume that in 99% of airplanes crashes, the dead is in sky and not ground.

#### **3.1) Plots of correlation between variables:**

##### **3.1.1) Aboard & Aboard Passangers:**

In [ ]:
sns.regplot(x='Aboard', y='Aboard Passangers', data=df)
plt.ylim(0, 600) #after plotting for the 1st time with radom limit, depending of limit of x-axis I edit the limit to be the same as x-axis for better plot
plt.title('Correlation between Aboard & Aboard Passangers')
plt.show()

##### **3.1.2) Aboard & Fatalities:**

In [ ]:
sns.regplot(x='Aboard', y='Fatalities', data=df)
plt.ylim(0, 600) 
plt.title('Correlation between Aboard & Fatalities')
plt.show()

##### **3.1.3) Aboard & Fatalities Passengers:**

In [ ]:
sns.regplot(x='Aboard', y='Fatalities Passangers', data=df)
plt.ylim(0, 600) 
plt.title('Correlation between Aboard & Fatalities Passangers')
plt.show()

##### **3.1.4) Aboard Passangers & Fatalities:**

In [ ]:
sns.regplot(x='Aboard Passangers', y='Fatalities', data=df)
plt.ylim(0, 600) 
plt.title('Correlation between Aboard Passangers & Fatalities')
plt.show()

##### **3.1.5) Aboard Passangers & Fatalities Passangers:**

In [ ]:
sns.regplot(x='Aboard Passangers', y='Fatalities Passangers', data=df)
plt.ylim(0, 600) 
plt.title('Correlation between Aboard Passangers & Fatalities Passangers')
plt.show()

##### **3.1.6) Aboard Crew & Fatalities Crew:**

In [ ]:
sns.regplot(x='Aboard Crew', y='Fatalities Crew', data=df)
plt.ylim(0, 600) 
plt.title('Correlation between Aboard Crew & Fatalities Crew')
plt.show()

##### **3.1.7) Fatalities & Fataities Passangers:**

In [ ]:
sns.regplot(x='Fatalities', y='Fatalities Passangers', data=df)
plt.ylim(0, 600) 
plt.title('Correlation between Fatalities & Fataities Passangers')
plt.show()

#### **3.2) Pearson Correlation coefficient 'r' & its associated P-value:**

r: measure of linear relationship between 2 variables, range -> -1 to 1  
p: significance of the correlation

**Let's calculate r & p for vriables and conclude**

In [ ]:
from scipy.stats import pearsonr

##### **3.2.1) Aboard & Aboard Passangers:**

In [ ]:
r, p_value = pearsonr(df['Aboard'], df['Aboard Passangers'])
print("r value is: ",r)
print("P value is: ", p_value)

**r value is ~1 so it's a strong positive linear relationship between teh 2 variables, and the p value that == 0, means tha this strong relationship is unlikely to have occured by chance; it suggests a strong and statistically significant linear relationship, between Aboard & Aboard Passangers.**

##### **3.2.2) Aboard & Fatalities:**

In [ ]:
r, p_value = pearsonr(df['Aboard'], df['Fatalities'])
print("r value is: ",r)
print("P value is: ", p_value)

**We can have the same conclusion based on same logic of the previous: Strong and statistically significant linear relationship, between Aboard & Fatalities.**

##### **3.2.3) Aboard & Fatalities Passangers:**

In [ ]:
r, p_value = pearsonr(df['Aboard'], df['Fatalities Passangers'])
print("r value is: ",r)
print("P value is: ", p_value)

**We can have the same conclusion based on same logic of the previous: Strong and statistically significant linear relationship, between Aboard & Fatalities Passangers.**

##### **3.2.1) Aboard Passangers & Fatalities:**

In [ ]:
r, p_value = pearsonr(df['Aboard Passangers'], df['Fatalities'])
print("r value is: ",r)
print("P value is: ", p_value)

**We can have the same conclusion based on same logic of the previous: Strong and statistically significant linear relationship, between Aboard Passangers & Fatalities.**

##### **3.2.1) Aboard Passangers & Fatalities Passangers:**

In [ ]:
r, p_value = pearsonr(df['Aboard Passangers'], df['Fatalities Passangers'])
print("r value is: ",r)
print("P value is: ", p_value)

**We can have the same conclusion based on same logic of the previous: Strong and statistically significant linear relationship, between Aboard Passangers & Fatalities Passangers.**

##### **3.2.1) Aboard Crew & Fatalities Crew:**

In [ ]:
r, p_value = pearsonr(df['Aboard Crew'], df['Fatalities Crew'])
print("r value is: ",r)
print("P value is: ", p_value)

**We can have the same conclusion based on same logic of the previous: Strong and statistically significant linear relationship, between Aboard Crew & Fatalities Crew.**

##### **3.2.1) Fatalities & Fataities Passangers:**

In [ ]:
r, p_value = pearsonr(df['Fatalities'], df['Fatalities Passangers'])
print("r value is: ",r)
print("P value is: ", p_value)

**We can have the same conclusion based on same logic of the previous: Strong and statistically significant linear relationship, between Fatalities & Fataities Passangers.**

## **III) Data Visualization:**

##### **Word Clouds for crashes's summary:**

In [ ]:
!pip install wordcloud

## **By: [Abdessamad Touzani](https://www.linkedin.com/in/abdessamadtouzani/)**