![Abdessamd Touzani](banner.png)

In [1]:
import pandas as pd
import numpy as np
print("Checked")

Checked

TODO: intorduction...

**[Documentation for used Data](https://www.kaggle.com/datasets/saurograndi/airplane-crashes-since-1908)**

## **Import Data**

In [2]:
df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908_t0_2023.csv', encoding='ISO-8859-1')
print('Data read successfully')

Data read successfully

In [3]:
df.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,6:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...

## **Data Cleaning:**

### Handle missing values:

In [4]:
print("Data shape: ", df.shape)
df.isnull().sum()

Data shape:  (4998, 17)

Date                        0
Time                     1512
Location                    4
Operator                   10
Flight #                 3669
Route                     777
AC Type                    15
Registration              274
cn/ln                     668
Aboard                     18
Aboard Passangers         229
Aboard Crew               226
Fatalities                  8
Fatalities Passangers     242
Fatalities Crew           241
Ground                     42
Summary                    64
dtype: int64

--> As we can see at first sight,for flight number almost all rows are null, so I will just remove that column.

In [5]:
df.drop(['Flight #'], axis = 1, inplace = True)
df.head(5)

,Date,Time,Location,Operator,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaN,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,6:30,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...

In [6]:
df.shape

(4998, 16)

--> The column is dropped successfuly

Now, I will group data into 2 categories (From IBM Data Science course), continuous attributes that I will replace by the mean, and caategorical aattributes tht I will replace by the most frequence value
- Continuous attributes:
  - Aboard
  - Aboard Passangers
  - Aboard Crew
  - Fatalities
  - Fatalities Passaangers
  - Fatalities Crew
  - Ground
- Categorical attributes:
  - Location
  - Operator
  - Route
  - AC Type
  - Registration
  - cn/ln
  - Summaray
    
__TODO: Handling time... 

--> There is no null values for Date!

df.isnull().sum()

### *for continuous attributes:*

#Aboard -- set it as needed to explore how null values are represented
pd.set_option('display.max_rows', 4000)
df['Aboard'].head(4000)

In [8]:
#Aboard
#Calculate mean of Aboard
aboard_mean = df['Aboard'].mean()
#Replace NaN with the mean - import numpy for it
df['Aboard'].replace(np.NaN, aboard_mean, inplace = True)
print("Aboard null values: ", df['Aboard'].isnull().sum())

Aboard null values:  0

--> we will do  the same for the other continuous variables. TODO...

In [13]:
#Aboard Passangers
aboardPassangers_mean = df['Aboard Passangers'].mean()
df['Aboard Passangers'].replace(np.NaN, aboardPassangers_mean, inplace = True)
print("Aboard Passangers null values: ", df['Aboard Passangers'].isnull().sum())

Aboard Passangers null values:  0

In [15]:
#Aboard Crew
aboardCrew_mean = df['Aboard Crew'].mean()
df['Aboard Crew'].replace(np.NaN, aboardCrew_mean, inplace = True)
print("Aboard Crew null values: ", df['Aboard Crew'].isnull().sum())

Aboard Crew null values:  0

In [19]:
#Fatalities
fatalities_mean = df['Fatalities'].mean()
df['Fatalities'].replace(np.NaN, fatalities_mean, inplace = True)
print("Fatalities null values: ", df['Fatalities'].isnull().sum())

Fatalities null values:  0

In [22]:
#Fatalities Passengers
fatalitiesPassangers_mean = df['Fatalities Passangers'].mean()
df['Fatalities Passangers'].replace(np.NaN, fatalitiesPassangers_mean, inplace = True)
print("Fatalities Passangers null values: ", df['Fatalities Passangers'].isnull().sum())

Fatalities Passangers null values:  0

In [23]:
#Fatalities Crew
fatalitiesCrew_mean = df['Fatalities Crew'].mean()
df['Fatalities Crew'].replace(np.NaN, fatalitiesCrew_mean, inplace = True)
print("Fatalities Passangers null values: ", df['Fatalities Crew'].isnull().sum())

Fatalities Passangers null values:  0

In [27]:
#Ground
ground_mean = df['Ground'].mean()
df['Ground'].replace(np.NaN, ground_mean, inplace = True)
print("Ground null values: ", df['Ground'].isnull().sum())

Ground null values:  0

TODO: Time...

Categorical Data

## **By: [Abdessamad Touzani](https://www.linkedin.com/in/abdessamadtouzani/)**